@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}


#google_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 7em;
}

.google_image {
    padding-top: 4rem;
    margin: auto;
    max-width: 45%;
    max-height: 45%;
 }

 .search_image {
     position: absolute;
     max-width: 1.3em;
     margin-left: 12px;
     margin-top: 5px;
     opacity: 66%;
 }

 .apps_image {
    position: relative;
    max-width: 1.6em;
    opacity: 66%;
}

 .searchbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 75%;   
     padding-top: 2rem;
     padding-bottom: 1rem;
     margin: auto;
 }

.search-input {
    display: grid;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    width: 35rem;  
    height: 2.5rem;
    padding-left: 3em;
}

 .button {
    padding-top: 1rem;
    padding-bottom: 1rem; 
 }

 .search-button {
     margin: 0 0.5em 0 0.5em;
     background-color: #f8f9fa;
     border-style: solid;
     border-width: 1px;
     border-radius: 4px;
     font-size: 14px;
     line-height: 27px;
     width: 8.5rem;
     
 }

 .search-button:hover {
    border-style: solid;
    border-width: 2px;
    border-color: silver;
 }

 .signin-button {
    background-color: #2b73bb;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 27px;
    width: 5rem;
}


 ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    align-items: center;
  }

  li {
    display: inline;
    float: right;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 0px 0px 10px;
    margin: 15px 10px 0px 10px;
    text-decoration: none;
  }

  .space {
      margin: auto;
  }

  #footer {
      display: grid;
      margin:  auto;
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
  }


  .footnav > ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: auto;
    padding: 0em 0.5em 1em 0.5em;
    overflow: hidden;
    font-size: 14px;
    align-items: center;
    background-color: #f2f2f2;
  }


  @media (max-width: 30em) {
    .footnav > ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
